body {
	padding-top: 60px;
}

.hide-until-ready {
	display: none;
}

#working {
	cursor: wait;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 32500;
	background-color:rgba(255, 255, 255, .4);
}
#working>div {
	left: 50%;
	top: 50%;
	position:absolute;
}
#working>div>div {
	position: relative;
	left: -50%;
	top: -50%;
}
#working-text {
	max-width: 350px;
	text-align: center;
}

#options {
	margin: 0 15px;
}
#options>.panel-body>.row>div:first-child {
	max-width: 150px;
}
#dialog-options-versions ul {
	list-style-type: none;
}

#result {
	margin: 10px 10px 0 10px;
}
#result>table {
	width: auto;
	max-width: 100%;
}
#result tbody td.is-available, #result tbody td.not-available {
	text-align: center;
	vertical-align: middle;
}
#result tbody td.is-available {
	color: green;
}
#result tbody td.not-available {
	color: red;
}
#result tbody td.one-of-two {
	border-bottom-width: 0;
	padding-bottom: 0;
}
#result tbody td.two-of-two {
	border-top-width: 0;
	padding-top: 0;
}

#result tbody td.definitions {
	text-align: right;
}
#result tbody td.definitions a {
	visibility: hidden;
}
#result tbody td.definitions:hover a {
	visibility: visible;
}

table.result-classes thead tr th {
	text-align: center;
}
table.result-classes tbody tr td {
	text-align: center;
}
table.result-classes td.class-name, table.result-classes td.method-name {
	text-align: left;
	line-height: 19px;
}
table.result-classes .class-name, table.result-classes .method-name, table.result-classes .method-modifiers, table.result-classes .method-parameters {
	font-family: Consolas, Courier, "Courier New", monospace;
	font-size: 13px;
}
table.result-classes .method-modifiers {
	font-weight: normal;
	margin-right: 7px;
}
table.result-classes .method-parameters {
	font-weight: normal;
}

table.result-classes .method-flavor {
	text-align: left;
	font-weight: bold;
}
table.result-classes td div .method-modifiers, table.result-classes td div .method-parameters {
	margin-left: .5em;
	font-weight: normal;
}

table.result-classes>tfoot td {
	text-align: right;
	font-size: 10px;
}
