body {
	padding-top: 60px;
}

.hide-until-ready {
	display: none;
}

#working {
	cursor: wait;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 32500;
	background-color:rgba(255, 255, 255, .4);
}
#working>div {
	left: 50%;
	top: 50%;
	position:absolute;
}
#working>div>div {
	position: relative;
	left: -50%;
	top: -50%;
}
#working-text {
	max-width: 350px;
	text-align: center;
}

#options {
	margin: 0 15px;
}
#options>.panel-body>.row>div:first-child {
	max-width: 150px;
}
#dialog-options-versions ul {
	list-style-type: none;
}

#result {
	margin: 10px 10px 0 10px;
}
#result>table {
	width: auto;
	max-width: 100%;
}
#result tbody td.is-available, #result tbody td.not-available {
	text-align: center;
	vertical-align: middle;
}
#result tbody td.is-available {
	color: green;
}
#result tbody td.not-available {
	color: red;
}
#result tbody th .modifiers {
	font-family: Consolas, Courier, "Courier New", monospace;
	font-weight: normal;
}
#result tbody th .modifiers:after {
	content: " ";
}
#result tbody th .name {
	font-family: Consolas, Courier, "Courier New", monospace;
}
#result tbody th .parameters {
	font-family: Consolas, Courier, "Courier New", monospace;
	font-weight: normal;
}
#result tbody th .parameters:before {
	content: "(";
}
#result tbody th .parameters:after {
	content: ")";
}
#result tbody td .modifiers, #result tbody td .parameters {
	font-family: Consolas, Courier, "Courier New", monospace;
	display: block;
}
#result tbody td.is-available .definitions, #result tbody td.method-flavor .definitions {
	display: none;
	position: absolute;
}
#result tbody td.is-available:hover .definitions, #result tbody td.method-flavor:hover .definitions {
	display: inline;
}
#definitions-code {
	margin-top: 10px;
}
#definitions-code textarea {
	width: 100%;
	height: 400px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Consolas, Courier, "Courier New", monospace;
}
#definitions-github {
	display: none;
}
.cm-hiline {
	background-color: #dbffdb;
}

#author {
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	font-weight: normal;
	padding-top: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	opacity: .8;
}
#author a {
	color: yellow;
}
@media (min-width: 768px) {
	#author {
		display: block;
	}
}
